.user-card {
    width: 280px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.87);
    cursor: pointer;
}

.user-card .gender {
    max-width: 32px;
}