a {
    border: 2px solid black;
}

.user-cards {
    position: relative;
}

.user-cards p {
    text-decoration: none;
}

.user_photo {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
}

.gender-text span {
    padding-left: 15px;
    font-size: 20px;
}